<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H2 | Miembros</title>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../js/search.js"></script>
</head>
<body>
    <div class="bg"></div>
    <div class="header">
        <div class="container">
            <img class="logo" src="../images/H2_Logo.png" width="50px" height="50px" alt="">
            <div class="header-right">
                <a href="/#redes">Redes</a>
                <a href="https://discord.gg/jw6J5dn" target="blank">Discord</a>
                <a href="#">Noticias</a>
            </div>
        </div>
    </div>
    <div class="searchArea container">
        <input type="search" name="search" id="search" oninput="search('members', this.value);" placeholder="Busca a un miembro..." autocomplete="off">
    </div>
    <ul id="members" class="genericPlace container">
        <% members.forEach(function(member) { %>
            <li class="genericContent" id="<%= member.name%>">
                <div>
                    <h2><%= member.name%></h2>
                </div>
                <div class="genericRandomDiv">
                    <% if (member.youtube != "") { %> <a class="youtube RButtonsM" href="<%= member.youtube%>" target="blank">Youtube</a><% } %>
                    <% if (member.twitch != "") { %> <a class="twitch RButtonsM" href="<%= member.twitch%>" target="blank">Twitch</a><% } %>
                    <img class="genericImg" src="/api/minecraft/face/<%= member.minecraft%>?size=70&helm=true">
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>